@model ChemiFriend.Entity.JsonModel.SearchProductModel
@{
    ViewBag.Title = "GetProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/w3layouts/css/IndexCss.css" rel="stylesheet" />
<style type="text/css">
    .agile_top_brand_left_grid1 p {
        color: #212121;
        margin: 0em 0 0em;
        line-height: 1.5em;
        text-transform: capitalize;
        font-size: 14px;
        text-align: center;
    }
</style>

<script type="text/javascript">
    function Search() {
        var model = {};
        model.SubCategoryId = $("#SubCategoryId").val();
        model.Search = $("#Search").val();

        $.ajax({
            type: "POST",
            url: "/Account/_GetProductList",
            data: '{model: ' + JSON.stringify(model) + '}',
            contentType: "application/json; charset=utf-8",
            // dataType: "json",
            success: function (response) {
                $("#divProducts").html(response);
            },
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    }

    $(function () {
        Search();
    });
</script>

<div class="logo_products">
    <div class="container">
        <div class="w3ls_logo_products_left">
            <h2>LIST OF @ViewBag.SubCategory</h2>
        </div>
        <div class="w3l_search">
            <input id="Search" type="text" name="Search" placeholder="Search for a Brand..." value="@Model.Search" />
            <button type="button" id="btnSearch" onclick="Search();" class="btn btn-default search" aria-label="Left Align">
                <i class="fa fa-search" aria-hidden="true"> </i>
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--- products --->
<div class="products">
    <div class="container">
        <div class="col-md-12 products-right">
            <div class="products-right-grid">
                @Html.HiddenFor(x => x.SubCategoryId)
            </div>
            <div id="divProducts">
                @*Add Partial View*@
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--- products --->
