@model ChemiFriend.Entity.Usermaster

@{
    ViewBag.Title = "RequestForApproving";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5> Hi @Model.Name</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="control-group">
                        </div>
                        <div class="control-group" style="text-align:center;">
                            <p>
                                Thanks for creating account and joining us.<br />
                                your account will approving in 24 hours.
                            </p>
                        </div>
                        <div class="control-group">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
