<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ziny </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/Areas/Admin/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/login.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/js/maruti.login.js"></script>
</body>
</html>
