@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/w3layouts/css/ContactCSS.css" rel="stylesheet" />
<!-- contact -->
<div class="about">
    <div class="container">
        <h3 class="w3_agile_header">Contact Us</h3>
        <div class="w3_agileits_contact_grids">
            <div class="col-md-6 w3_agileits_contact_grid_left">
                <div class="agile_map">
                    <iframe src="https://maps.google.com/maps?q=decent%20colony%20B%20D%20Flour%20Mill%2C%20Ambala%20Cantt.%20Haryana.%20Pin%20Code%20133001&t=&z=13&ie=UTF8&iwloc=&output=embed" style="border:0"></iframe>
                </div>
                <div class="agileits_w3layouts_map_pos">
                    <div class="agileits_w3layouts_map_pos1">
                        <h3>Contact Info</h3>
                        <p>
                            8/3/2, Decent Colony, Behind B.D. Flour Mill, Ambala Cantt. Haryana. Pin Code-
                            133001. India.
                        </p>
                        <ul class="wthree_contact_info_address">
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>+91-9729979577</li>
                        </ul>
                        <div class="w3_agile_social_icons w3_agile_social_icons_contact">
                            <ul>
                                <li><a href="#" class="icon icon-cube agile_facebook"></a></li>
                                <li><a href="#" class="icon icon-cube agile_rss"></a></li>
                                <li><a href="#" class="icon icon-cube agile_t"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3_agileits_contact_grid_right">
                <h2 class="w3_agile_header">Leave a<span> Message</span></h2>

                <form action="#" method="post">
                    <span class="input input--ichiro">
                        <input class="input__field input__field--ichiro" type="text" id="input-25" name="Name" placeholder=" " required="" />
                        <label class="input__label input__label--ichiro" for="input-25">
                            <span class="input__label-content input__label-content--ichiro">Your Name</span>
                        </label>
                    </span>
                    <span class="input input--ichiro">
                        <input class="input__field input__field--ichiro" type="email" id="input-26" name="Email" placeholder=" " required="" />
                        <label class="input__label input__label--ichiro" for="input-26">
                            <span class="input__label-content input__label-content--ichiro">Your Email</span>
                        </label>
                    </span>
                    <textarea name="Message" placeholder="Your message here..." required=""></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- contact -->
