@{
    ViewBag.Title = "PrivacPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .about, .about-team, .contact, .codes {
        padding: 1em 0;
    }

    .about-agileinfo {
        margin-top: 1em;
    }
</style>
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="w3_agile_header">Privacy Policy</h3>
        <div class="about-agileinfo w3layouts">
            <div class="col-md-12 about-wthree-grids grid-top">
                <p class="top">
                    Ziny ("us", "we", or "our") operates the <a target="_blank" href="http://www.ziny.co.in">http://www.ziny.co.in</a> website (the "Service"). This privacy policy
                    governs your use of the software application Ziny (“Application”) for mobile devices that was created
                    by Ziny.
                </p>
                <p class="top">
                    This page informs you of our policies regarding the collection, use and disclosure of Personal
                    Information when you use our Service. Registration with us is mandatory in order to be able to use the
                    basic features of the Application. We will not use or share your information with anyone except as
                    described in this Privacy Policy.
                </p>
                <p class="top">
                    We use your Personal Information for providing and improving the Service. By using the Service, you
                    agree to the collection and use of information in accordance with this policy. Unless otherwise defined
                    in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and
                    Conditions, accessible at <a target="_blank" href="http://www.ziny.co.in">http://www.ziny.co.in</a>.
                </p>
                <h4>Information Collection and Use</h4>
                <p class="top">
                    While using our Service, we may ask you to provide us with certain personally identifiable information
                    that can be used to contact or identify you. Personally identifiable information may include, but is not
                    limited to, your name, phone number, postal address and other information ("Personal Information").
                    When you register with us and use the Application, you generally provide (a) your name, email address,
                    age, user name, password and other registration information; (b) transaction-related information, such
                    as when you make purchases, respond to any offers, or download or use applications from us; (c)
                    information you provide us when you contact us for help; (d) credit card information for purchase and
                    use of the Application, and; (e) information you enter into our system when using the Application, such
                    as contact information and project management information.
                </p>
                <h4>Log Data</h4>
                <p class="top">
                    In addition, the Application may collect certain information automatically, including, but not limited to,
                    the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile
                    device, your mobile operating system, the type of mobile Internet browsers you use, and information
                    about the way you use the Application. This Application does not collect precise information about the
                    location of your mobile device.
                </p>
                <h4>Cookies</h4>
                <p class="top">
                    Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies
                    are sent to your browser from a web site and stored on your computer's hard drive. We use "cookies" to
                    collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is
                    being sent. However, if you do not accept cookies, you may not be able to use some portions of our
                    Service.
                </p>
                <h4>Service Providers</h4>
                <p class="top">
                    We may employ third party companies and individuals to facilitate our Service, to provide the Service on
                    our behalf, to perform Service-related services or to assist us in analyzing how our Service is used. These
                    third parties have access to your Personal Information only to perform these tasks on our behalf and are
                    obligated not to disclose or use it for any other purpose.
                </p>
                <p class="top">
                    Only aggregated, anonymized data is periodically transmitted to external services to help us improve the
                    Application and our service. We will share your information with third parties only in the ways that are
                    described in this privacy statement.
                </p>
                <p class="top">We may disclose User Provided and Automatically Collected Information:</p>
                <p class="top">
                    as required by law, such as to comply with a subpoena, or similar legal process;
                    when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or
                    the safety of others, investigate fraud, or respond to a government request;
                </p>
                <p class="top">
                    with our trusted services providers who work on our behalf, do not have an independent use of the
                    information we disclose to them, and have agreed to adhere to the rules set forth in this privacy
                    statement.
                </p>
                <p class="top">
                    if Ziny is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via
                    email and/or a prominent notice on our Web site of any change in ownership or uses of this
                    information, as well as any choices you may have regarding this information.
                </p>
                <h4>
                    Data Retention Policy, Managing Your Information
                </h4>
                <p class="top">
                    We will retain User Provided data for as long as you use the Application and for a reasonable time
                    thereafter. We will retain Automatically Collected information for up to 24 months and thereafter may
                    store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the
                    Application, please contact us at info@ziny.co.in and we will respond in a reasonable time. Please note
                    that some or all of the User Provided Data may be required in order for the Application to function
                    properly. You further authorize us to share the secondary sales and stock data with the respective
                    company and on such company making a written request for the said data. The data so disclosed will be
                    at a consolidated level, and shall not personally identify any of your customer.
                </p>
                <h4>Links To Other Sites</h4>
                <p class="top">
                    Our Service may contain links to other sites that are not operated by us. If you click on a third party link,
                    you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of
                    every site you visit. We have no control over, and assume no responsibility for the content, privacy
                    policies or practices of any third party sites or services.
                </p>

                <h4>Security</h4>
                <p class="top">
                    We are concerned about safeguarding the confidentiality of your information. We provide physical,
                    electronic, and procedural safeguards to protect information we process and maintain. For example, we
                    limit access to this information to authorized employees and contractors who need to know that
                    information in order to operate, develop or improve our Application. Please be aware that, although we
                    endeavor provide reasonable security for information we process and maintain, no security system can
                    prevent all potential security breaches.
                </p>
                <h4>Changes to This Privacy Policy</h4>
                <p class="top">
                    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the
                    new Privacy Policy on this page and informing you via email or text message. You are advised to review
                    this Privacy Policy periodically for any changes, as continued use is deemed approval of all changes.
                    Changes to this Privacy Policy are effective when they are posted on this page.
                </p>
                <h4>
                    Your Consent
                </h4>
                <p class="top">
                    By using the Application, you are consenting to our processing of your information as set forth in this
                    Privacy Policy now and as amended by us. "Processing", means using cookies on a computer/hand held
                    device or using or touching information in any way, including, but not limited to, collecting, storing,
                    deleting, using, combining and disclosing information, all of which activities will take place in India. We
                    shall not disclose the user’s data with any third parties, except to the extent provided under this privacy
                    policy, without your prior written consent.
                </p>
                <h4>
                    Contact Us
                </h4>
                <p class="top">
                    If you have any questions regarding privacy while using the Application, or have questions about our
                    practices, please contact us via email at <a href="info@ziny.co.in">info@ziny.co.in</a>.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->