@{
    ViewBag.Title = "ReturnPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .about, .about-team, .contact, .codes {
        padding: 1em 0;
    }

    .about-agileinfo {
        margin-top: 1em;
    }
</style>
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="w3_agile_header">Return Policy</h3>
        <div class="about-agileinfo w3layouts">
            <div class="col-md-12 about-wthree-grids grid-top">
                <h4># Return Policy : </h4>
                <p class="top">Within 3 days from the date of delivery.</p>
                <p class="top">
                    After receiving the goods one can return the goods within 3 days if any mismatch is found in invoice and
                    the goods received, goods are found in damaged condition or the products of short expiry date (ie less
                    than 6 month expiry is found).
                </p>
                <p class="top">
                    How to return
                    @*To Yogendra*@
                </p>
                <h4>The payment will be returned by the following ways</h4>
                <p class="top">
                    1 In terms of refund: The payment will be refund within 5 days as soon as we receive the goods
                    returned by the party.
                </p>
                <p class="top">
                    2 Exchange the goods : If the party wants we also can exchange or replace the goods.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
