@{
    ViewBag.Title = "DriverList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string APIURL = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["APIURL"]);
}

<div id="content">
    <div id="content-header">
        
        <div style="float:right;margin-right:100px;margin-top: 5px;"><a href="@Url.Action("DriverRegistration", "Master", new { area="Admin"})" class="btn btn-info" style="text-align:right;">Add New</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h5>DRIVER REGISTRATION LIST</h5>
                <div>
                    <table id="myGrid" class="table">
                        <thead>
                            <tr>
                                <th class="dt-left">SNo.</th>
                                <th>Name</th>
                                <th>Mobile No.</th>
                                <th>Email</th>
                                <th>DL No.</th>
                                <th>Adhar No.</th>
                                <th>Emergency No.</th>
                                <th>Status</th>
                                <th>Profile</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myGrid').DataTable({
                "ajax": {
                    "url": "@APIURL/ApiMaster/GetDriverList",
                    "headers": { 'Token': token },
                    "dataSrc": "result"
                },
                "columns": [
                    {
                        "data": null, "sortable": false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "FullName", className: "dt-left" },
                    { "data": "MobileNo", className: 'dt-center' },
                    { "data": "EmailId", className: 'dt-center' },
                    { "data": "DLNo", className: 'dt-center' },
                    { "data": "AadharNo", className: 'dt-center' },
                    { "data": "EmergencyContactNo", className: 'dt-center' },
                    {
                        "data": null, className: 'dt-center',
                        render: function (data, type, row, meta) {
                            if (row.Status)
                                return '<input type="checkbox" id="chk-' + row.RegistrationId + '" data-key="' + row.RegistrationId + '" checked="' + row.Status + '" onclick="ChangeActiveDeactive(this);" />'
                            else
                                return '<input type="checkbox" id="chk-' + row.RegistrationId + '" data-key="' + row.RegistrationId + '" unchecked="' + row.Status + '" onclick="ChangeActiveDeactive(this);" />'
                        }
                    },
                    {
                        "data": null, className: 'dt-center',
                        render: function (data, type, row, meta) {
                            if (row.ProfilePhoto != null)
                            {
                                return '<img src="' + row.ProfilePhoto + '" height="50" width="60">';
                            }
                            else {
                                return '';
                            }
                        }
                    },
                    {
                        "data": null, className: 'dt-center',
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group">'
                                +'<button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Action <span class="caret"></span></button>'
                                + '<ul class="dropdown-menu">'
                                + '<li><a target="_blank" href="/Master/DriverAllowanceEntry/' + row.RegistrationId + '">Apply Allowance</a></li>'
                                + '<li><a href="/Master/DriverProfileImage/' + row.RegistrationId + '">Profile Pick</a></li>'
                                + '<li><a href="/Master/ViewDriverProfile/' + row.RegistrationId + '">View Profile</a></li>'
                                + '<li><a href="/Master/EditDriverRegistration/' + row.RegistrationId + '">Edit</a></li>'
                                + '<li><a onclick="IsDelete(this);" id="' + row.RegistrationId+'">Delete</a></li>'
                                +'</ul></div>';
                        }
                    }
                ]
            });
        });
        //  Delete confirmation PopUp
        function IsDelete(elm)
        {
            var TranId = $(elm).attr("id");
            var con = confirm("Are you sure you want to delete this ?");
            if (con) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteDriverRegistration", "Master", new { area="Admin"})",
                    data: '{RegistrationId: "' + TranId + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (resp) {
                        if (resp.RespType == 'success')
                        {
                            window.location.href = window.location.href;
                        }
                    },
                    error: function (resp) {
                        alert(resp.RespMessage);
                    }
                });
            }
        }

        // Active Deactive employee
        function ChangeActiveDeactive(elm) {
            var nid = $(elm).data("key");
            var status;
            var con = false;
            if ($(elm).is(":checked")) {
                status = true;
            }
            else {
                status = false;
            }
            if (status) {
                con = confirm("Are you sure you want to Activate this ?");
            }
            else {
                con = confirm("Are you sure you want to Deactivate this ?");
            }
            if (con) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Master/ChangeDriverActiveDeactive",
                    data: "{id:" + nid + ", status: '" + status + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        GritterActiveDeactive(msg);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + errorThrown);
                    }
                });
            }
        }

    </script>
}
