
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div id="content-header">
    <div id="breadcrumb">
        <a href="~/Admin/Dashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Dashboard</a>
        <a href="#" class="current">Change Password</a>

    </div>
    @*<h1>Change Password</h1>*@

</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-pencil"></i>
                    </span>
                    <h5>Change Password</h5>
                </div>
                <div class="widget-content nopadding">
                    @using (Html.BeginForm("ChangePassword", "Dashboard"))
                    {
                        @Html.AntiForgeryToken()

                        <div id="form-wizard" class="form-horizontal">

                            <div id="form-wizard-1" class="step">
                                <div class="control-group">
                                    @Html.ValidationSummary()
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Old Password</label>
                                    <div class="controls">
                                        <input id="OldPassword" type="password" name="OldPassword" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Password</label>
                                    <div class="controls">
                                        <input id="NewPassword" type="password" name="NewPassword" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Confirm Password</label>
                                    <div class="controls">
                                        <input id="ConfirmPassword" type="password" name="ConfirmPassword" />
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions">
                                @*<input id="back" class="btn btn-primary" type="reset" value="Back" />*@
                                <input id="next" class="btn btn-primary" type="submit" value="Submit" />
                                <div id="status"></div>
                            </div>
                            <div id="submitted"></div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</div>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{

    @section scripts
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $.gritter.add({
                    title: 'Notification',
                    text: '@ViewBag.Message',
                    //image: 'img/demo/envelope.png',
                    sticky: false
                });

            });
        </script>
    }

//    ViewBag.Message = "";

}
