
@{
    ViewBag.Title = "Dashboard";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content-header">
    <div id="breadcrumb"> <a href="~/Admin/Dashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Dasboard</a></div>
    <h1>Dasboard</h1>
</div>

